.application-section{
    background-color: #1F242A;
    height: 710px;
    padding-top: 50px ;
}

.application-title{
    color: rgb(209, 146, 0);
    font-weight: bold;
}

.application-body{
    color:white;
}  

p, h4{
    font-family: "Poppins", sans-serif;
}

.btn-brochure{
 color: white;
 background-color:#EF7B48 ;
 border: 1px solid #EF7B48;
}