<section class="application-section">
  <div class="cointainer">
  <div class=" row justify-content-center">
      <div class="col-lg-7 text-center">
        <h4 class="application-title">DOWNLOAD THE APPLICATION FILE</h4>
      </div>
      <div class="col-lg-7 text-center">
        <p class="application-body">Our teams are mobilized to answer your questions by mail.</p>
        <p class="application-body">Download our brochure, we will contact you to answer your questions and prepare for your return to school!</p>
      </div>
      <div class="col-6 text-center">
        <form id="contact-form" class="contact__form" method="post" action="mail.php">
          <!-- form message 
             <div class="row">
                 <div class="col-12">
                     <div class="alert alert-success contact__msg" style="display: none" role="alert">
                         Your message was sent successfully.
                     </div>
                 </div>
             </div>
             end message -->
             <div class="form-group">
                 <input name="name" type="text" class="form-control" placeholder="Your Name">
             </div>
             <div class="form-group">
                 <input name="email" type="email" class="form-control" placeholder="Email Address">
             </div>
             <div class="form-group">
              <input name="name" type="tel" class="form-control" placeholder="Phone numbers">
          </div>
             <button class="btn btn-brochure btn-main" name="submit" type="submit"> <span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download the brochure</button>
            </form>
      </div>
  </div>
</div>
</section>