<div class="main-wrapper ">
  <section class="page-title programs">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block text-center">
            <span class="text-white">Training Programs</span>
            <h1 class="text-capitalize mb-4 text-lg">MASTER 2 PRACTICE OF HUMANITARIAN ACTION</h1>
            <ul class="list-inline">
              <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
              <li class="list-inline-item"><span class="text-white">/</span></li>
              <li class="list-inline-item"><a class="text-white-50">About Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br><br><br>


  <section class="about-info section pt-0">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="about-info-item mb-4 mb-lg-0">
            <h3 class="mb-3"><span class="text-color mr-2 ">GRADUATION DIPLOMA</span></h3>
            <h5 class="">Master Degree</h5>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="about-info-item mb-4 mb-lg-0">
            <h3 class="mb-3"><span class="text-color mr-2 ">LEARNING METHODS</span></h3>
            <h5 class="">Face to Face and Online</h5>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="about-info-item mb-4 mb-lg-0">
            <h3 class="mb-3"><span class="text-color mr-2 ">DURATION OF TRAINING </span></h3>
            <h5 class="">12 Months</h5>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </section>
  <section>
    <div class="container">
      <div>
        <h3 class="text-color">OBJECTIVES OF THE MASTER </h3>
        <div>
          <p class="">
            - Equip students and professionals with practical knowledge to develop, implement, coordinate, monitor and
            evaluate humanitarian projects and programmes. <br>
            - Provides students with knowledge of the dynamics of humanitarian and complex emergencies and engages
            critically with the history, politics and practice of humanitarian action. <br>
            - Offers a solid foundation on the humanitarian-development-peace nexus including the practical methods to
            achieve this in different contexts. <br>
            - Training in line with the demands of the moment and the evolution of the professional humanitarian action.
            <br>
            - Guide and support students in identifying their choice of (re)vocational integration. <br>
            - Assists students build a strong professional network.

          </p>
        </div>
        <br>
        <div>
          <h3 class="text-color">TARGET</h3>
          <p class="text-justify">
            Professionals and students with an interest in humanitarian affairs and wishing to pursue a career in the
            humanitarian sector.
          </p>
        </div><br>
        <div>
          <h3 class="text-color">TRAININGS</h3>
          <div class="cu-bloc">
            <h4 class="semester">SEMESTER 1 :</h4>
            <p class="">
              <span class="cu">CU1 - </span>HUMANITARIAN PRINCIPLES AND ARCHITECTURE. <br>
              <span class="cu">CU2 - </span>HUMANITARIAN COORDINATION. <br>
              <span class="cu">CU3 - </span>HUMANITARIAN PROTECTION AND ETHICS. <br>
              <span class="cu">CU4 - </span>HUMANITARIAN PROGRAMME MANAGEMENT. <br>
              <span class="cu">CU5 - </span>CASH AND MARKET BASED PROGRAMMING IN CRISIS SETTINGS. <br>
              <span class="cu">CU6 - </span>MANAGING COMPLEX EMERGENCIES (SIMULATIONS) . <br>
              <span class="cu">CU7 - </span>CRITIQUES OF THE HUMANITARIAN SYSTEM . <br>
            </p>
          </div>
          <div class="cu-bloc">
            <h4 class="semester">SEMESTER 2 :</h4>
            <p class="">
              <span class="cu">CU8 - </span>DEVELOPMENT ECONOMICS. <br>
              <span class="cu">CU9 - </span>HUMANITARIAN-DEVELOPMENT-PEACE NEXUS <br>
              <span class="cu">CU10 - </span>NEXUS PROGRAMMING. <br>
              <span class="cu">CU11 - </span>PRIVATE SECTOR ENGAGEMENT. <br>
              <span class="cu">CU12 - </span>DEVELOPING LOCAL ECONOMIES. <br>
              <span class="cu">CU13 - </span>DEVELOPING DIGITAL ECONOMIES. <br>

            </p>
          </div>
        </div> <br>

        <div>
          <h3 class="text-color">TEACHING METHODS</h3>
          <p class="">
            - Simulations <br>
            - Practical case studies.
          </p>
        </div><br>

        <div>
          <h3 class="text-color">EVALUATION</h3>
          <p class="">
            - Oral and written examination. <br>
            - Continuous monitoring Practical training. <br>
            - End of study project (internship thesis).
          </p>
        </div><br>

        <div>
          <h3 class="text-color">OPPORTUNITIES</h3>
          <p class="text-justify">
            - Administrative Manager. <br>
            - Reporting Officer. <br>
            - Human Resources Officer. <br>
            - Supply Officer. <br>
            - Communication and Advocacy Officer. <br>
            - Humanitarian Access, Safety & Security Coordinator. <br>
            - Gender and Protection Officer. <br>
            - Project and programme Manager. <br>
            - Liaison Officer. <br>
            - Field Coordinator. <br>
            - Humanitarian Risk and Disaster Analyst. <br>

          </p>
        </div><br>

      </div>
    </div>

  </section>