footer{
    background-color: #A42F42;
    border-top: 12px solid #F09C3F;
    margin-top: 18px;
}

.logo{
    height: 75px;
    width: 251px;
}

.sup{
    color: white;
}

.widget{
    color: aliceblue;
}

a{
    color: white;
}

.title-footer{
    color:white;
    font-weight: bold;
}

.text-color{
 color: white;
}