
<!-- footer Start -->
<footer class="footer section">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="widget">
					<h4 class="text-capitalize title-footer mb-4">Company</h4>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a routerLink="/about">Terms & Conditions</a></li>
						<li><a routerLink="/about">Privacy Policy</a></li>
						<li><a routerLink="/about">Support</a></li>
						<li><a routerLink="/about">FAQ</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-6">
				<div class="widget">
					<h4 class="text-capitalize title-footer mb-4">Quick Links</h4>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a routerLink="/about">About</a></li>
						<li><a routerLink="/home">Home</a></li>
						<li><a routerLink="/programs">Training programs</a></li>
						<li><a routerLink="/news">News</a></li>
						<li><a routerLink="/contact">Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="widget">
					<h4 class="text-capitalize title-footer mb-4">Subscribe Us</h4>
					<p>Subscribe to get latest news article and resources  </p>

					<form action="#" class="sub-form">
						<input type="text" class="form-control mb-3" placeholder="Subscribe Now ...">
						<a href="#" class="btn btn-main btn-small">subscribe</a>
					</form>
				</div>
			</div>

			<div class="col-lg-3 ml-auto col-sm-6">
				<div class="widget">
					<div class="logo ">
						<ul class="social-icons list-inline mt-3">
							<li class="list-inline-item">
								<a href="https://www.facebook.com/Humansup"><i class="fab fa-facebook-f"></i></a>
							</li>
							<li class="list-inline-item">
								<a href="https://www.linkedin.com/company/human-sup"><i class="fab fa-linkedin-in"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
		
		<div class="footer-btm">
			<div class="container">
				<div class="d-flex justify-content-center">
					<div class="copyright">
						<span class="text-color">HUMAN'Sup, School of Nexus Science</span> &copy; <span>2022</span>
					</div>
				</div>

			</div>
			
		</div>
	</div>
</footer>
