.logo{
    height: 75px;
    width: 251px;
}


@media (max-width: 820px){
  #navbarNavDropdown{
    background-color: black;

  }

  #navbar .nav-link{
   color: white;
  }
  #navbar li{
    padding: 0px;
  }

  .nav-item :hover{
    background-color: brown;

    padding-left: 0px;
  }


}
